
.aboutTitleDiv{
    margin-top:10px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    border-bottom: 5px solid #E8BF55;
}

.aboutTitle{
    margin-left: 0%;
    padding-left: 27%;
    border-left: 5px solid #261c3b;
}

.contactTitle{
    margin-left: 11%;
    padding-left: 2.5%;
    border-left: 5px solid #261c3b; 
    border-right: 5px solid #261c3b;
    padding-right:2.5%;
}

.col-sm-4{
    padding-top:10px;
    margin-left: 20px;
}

.col-sm-6{
    padding-top:10px;
    
}

.col-sm-3{
    padding-top:10px;
    
}


textarea{
    width:210px;
    height:100px;
}

#resume{
    font-weight: 600;
}

a:hover {
    color: #D34D6F;    
}

a{
    color: #D34D6F
}